[View in Colaboratory](https://colab.research.google.com/github/yiliangyao/BA-homework/blob/master/yaoyiliang_wk3_homework_3.ipynb)

In [38]:
#1.How to remove duplicate values in a dataset in Python?
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#np
a = np.array([5,6,7,8,9,9])
print a
a_dedupe = np.unique(a)
print a_dedupe

# for a dataframe
b = pd.DataFrame([[0,4,6,8,10],[4,12,16,20,24],[4,12,16,20,24]])

b_dedupe = b.drop_duplicates()
b_dedupe

[5 6 7 8 9 9]
[5 6 7 8 9]

   0   1   2   3   4
0  0   4   6   8  10
1  4  12  16  20  24

In [48]:
#2.
import pandas as pd

friend_request = pd.DataFrame(
    {"requester_id":[101,202,303],
     "time":["2018-03-01","2018-04-18","2018-05-02"],
     "receiver_id":[301,202,203]}
)
import pandas as pd
request_accepted = pd.DataFrame(
    {"requester_id":[101,303],
     "time":["2018-03-01","2018-05-02"],
     "accepted_id":[301,202]}
)
print(friend_request)
print(request_accepted)

# sql
#select
#sum(if(t2.acceptor_id is null, 0, 1))/sum(1) as acceptance_rate,
#avg(time_diff(t2.time, t1.time)) as time_diff
#from friend_request t1
#left join request_accepted t2
#on t1.requester_id=t2.requeter_id
#and T1.receiver_id=T2.acceptor_id;

   receiver_id  requester_id        time
0          301           101  2018-03-01
1          202           202  2018-04-18
2          203           303  2018-05-02
   accepted_id  requester_id        time
0          301           101  2018-03-01
1          202           303  2018-05-02

In [49]:
# 3. Credit Card

CCList = ['4175004175004172','4917491749174917','346416800707698','376416800707698',
'4000600070008000','37641680070769832112','36641680070769','54545641680070769']
for CCID in CCList:
  if (CCID[0] == '4') and (len(CCID) == 16):
    if (CCID[0:6] == '417500'):
      print(CCID,'is VISAELECTRON')
    elif CCID[0:4] ==  '4917':
      print(CCID,'is VISAELECTRON')
    elif CCID[0:4] ==  '4913':
      print(CCID,'is VISAELECTRON')
    elif CCID[0:4] ==  '4405':
      print(CCID,'is VISAELECTRON')
    elif CCID[0:4] ==  '4508':
      print(CCID,'is VISAELECTRON')
    elif CCID[0:4] ==  '4844':
      print(CCID,'is VISAELECTRON')
    elif CCID[0:4] ==  '4026':
      print(CCID,'is VISAELECTRON')
    else: 
      print(CCID, 'is VISA')
  if (CCID[0:2] == '37'or '34') and (len(CCID)) ==15:
    print(CCID,'is AMEX')
  if (CCID[0:2] == '36') and (len(CCID)) ==14:
    print(CCID,'is Diners Club')
else:
    print(CCID,'dose not belong to any item')

('4175004175004172', 'is VISAELECTRON')
('4917491749174917', 'is VISAELECTRON')
('346416800707698', 'is AMEX')
('376416800707698', 'is AMEX')
('4000600070008000', 'is VISA')
('36641680070769', 'is Diners Club')
('54545641680070769', 'dose not belong to any item')

In [51]:
#4
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

my_data = pd.read_csv("https://raw.githubusercontent.com/mingchang0804/python_notebook/master/BA501_python_data.csv")

my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS